<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href="/storefile/<%= files.id%>">Upload File</a>

    <% for(let i=0;i<files.files.length; i++){%>
            <div>
              <p><strong>File Name: </strong><%=files.files[i].filename %></p>
                <p><strong>Size: </strong><%=((files.files[i].content.length)/1024).toFixed(2) %> KB</p>
                <p><strong>User: </strong><%=files.username %></p>
                  <button type="button">
                    <a href="/delete/<%= files.files[i].id %>">Delete</a>
                  </button>
                  <button type="button">
                     <a href="/download/<%= files.files[i].id%>">Download File</a>
                  </button>
            </div>
        <%}%>

    <% } else { %>
    <h1>please log in</h1>
    <a href="/sign-up">Create a account</a>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <%}%>
  </body>
</html>
